.receipts-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: #fefbf3;
  border-radius: 12px;
  margin-bottom: 3rem;
  padding-bottom: auto;
  margin-top: 1.5rem;
}

.receipts-container-left {
  display: flex;
  background-color: #ebebea;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 40rem;
}

.receipts-container-left h1 {
  background-color: #ebebea;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0rem;
  right: 0rem;
  margin-bottom: 0rem;
  padding: 3rem 0 3rem 0;
  font-size: 32px;
}

.receipts-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #ebebea;
}

.receipts-orders {
  display: flex;
  background-color: #ebebea;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 40rem;
  width: 100%;
  line-height: 0%;
  position: relative;
  top: 0;
  right: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.receipts-orders::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.receipts-orders::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s;
}

.receipts-orders.scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.receipts-orders.scrolling {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.dummy-spacing {
  margin-bottom: 4rem;
}

.receipts-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.receipts-order > * {
  margin-left: 1rem;
  position: relative;
  top: 0.4rem;
  font-weight: lighter;
}

.receipts-order.even {
  background-color: #d9d9d9;
}

.receipts-order.odd {
  background-color: #fefbf3;
}

.receipts-order.selected {
  background-color: #ebebea;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
  .receipts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    background-color: #ebebea;
    border-radius: 12px;
    margin-bottom: 3%;
    padding-bottom: 0;
    margin-top: 1.5rem;
  }

  .receipts-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .receipts-container-left h1 {
    margin-bottom: 0;
    font-size: 32px;
  }

  .receipts-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 0;
    background-color: #ebebea;
    margin-bottom: 1rem;
  }

  .receipts-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    max-height: 40vh;
    width: 100%;
    line-height: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .receipts-orders::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  .receipts-orders::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .receipts-orders.scrolling::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .receipts-orders.scrolling {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }

  .dummy-spacing {
    margin-bottom: 0;
  }

  .receipts-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
  }

  .receipts-order > * {
    margin-left: 1rem;
    position: relative;
    top: 0.4rem;
    font-weight: lighter;
    font-size: 14px;
  }

  .receipts-order.even {
    background-color: #d9d9d9;
  }

  .receipts-order.odd {
    background-color: #fefbf3;
  }

  .receipts-order.selected {
    background-color: #ebebea;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
