.favorites-selection-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background-color: #fefbf3;
  border-radius: 12px;
  margin-bottom: 3rem;
  padding-bottom: auto;
  margin-top: 1.5rem;
}

.favorites-left-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 40rem;
  background-color: #fefbf3;
  border-radius: 12px 0 0 12px;
}

.favorites-left-container h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.favorites-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}

.favorites-category h3,
.favorites-category h4 {
  margin: 0;
  font-weight: lighter;
}

.favorites-left-container h2 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin: 1rem 0;
}

.favorites-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #ebebea;
  width: 70%;
  max-height: 100rem;
}

.favorites-right-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem 0 0 5rem;
  padding-top: 1rem;
}

.favorites-product {
  margin: 1rem;
}

.favorites-product img {
  height: 164px;
  width: 164px;
  border-radius: 12px;
}

.favorites-product h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  background-color: #fecdb7;
  border-radius: 12px;
  height: 3rem;
  width: 164px;
  margin-top: -1.4rem;
  font-weight: lighter;
}

.heart-icon-fav {
  position: relative;
  bottom: 14rem;
  left: 8.5rem;
}

.favorites-category.even {
  background-color: #d9d9d9;
}

.favorites-category.odd {
  background-color: #fefbf3;
}

.favorites-category.selected {
  background-color: #ebebea;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* Lägg till media queries för att hantera mindre skärmar */
@media (max-width: 768px) {
  .favorites-left-container,
  .favorites-right-container {
    width: 100%;
  }

  .favorites-right-container {
    margin-top: 1rem;
  }

  .favorites-product img,
  .favorites-product h4 {
    width: 100%;
  }

  .heart-icon-fav {
    left: 50%;
    transform: translateX(-50%);
  }

  /* ************************************************************ */
  .favorites-selection-container {
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: auto;
    background-color: #fefbf3;
    border-radius: 12px;
    margin-bottom: 3rem;
    padding-bottom: auto;
    margin-top: 1.5rem;
  }

  .favorites-left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    background-color: #fefbf3;
    border-radius: 12px 0 0 12px;
  }

  .favorites-left-container h1 {
    margin-bottom: 3rem;
    text-align: center;
  }

  .favorites-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
  }

  .favorites-category h3,
  .favorites-category h4 {
    margin: 0;
    font-weight: lighter;
  }

  .favorites-left-container h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: 1rem 0;
  }

  .favorites-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    background-color: #ebebea;
    width: 100%;
    max-height: 100rem;
  }

  .favorites-right-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1rem;
    padding: 0;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .favorites-product {
    margin: 1rem;
  }

  .favorites-product img {
    height: 130px;
    width: 130px;
    border-radius: 12px;
  }

  .favorites-product h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    background-color: #fecdb7;
    border-radius: 12px;
    height: 3rem;
    width: 130px;
    margin-top: -1.4rem;
    font-weight: lighter;
  }

  .heart-icon-fav {
    position: relative;
    height: 44px;
    width: auto;
    bottom: 12rem;
    left: 6.4rem;
  }

  .favorites-category.even {
    background-color: #d9d9d9;
  }

  .favorites-category.odd {
    background-color: #fefbf3;
  }

  .favorites-category.selected {
    background-color: #ebebea;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
