@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rowdies-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Rowdies", sans-serif;
}

body {
  background-color: #fecdb7;
  color: #0a2328;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
